			<h1>Contactos:</h1>
			<table class="table">
				<thead>
					<tr>
						<td>Nombre:</td>
						<td>Email:</td>
						<td>Telefono:</td>
						<td>Accion:</td>
					</tr>
				</thead>
				<tbody>

					<tr ui-view="detail">
						
					</tr>
					
					<tr ng-repeat="contact in contacts">
						<td>{{contact.name}}</td>
						<td>{{contact.email}}</td>
						<td>{{contact.phone}}</td>
						<td><button type="submit" class="btn btn-success" ng-click="editContact(contact)">Editar Contacto</button> <button type="submit" class="btn btn-danger" ng-click="deleteContact(contact)">Eliminar Contacto</button></td>
					</tr>

				</tbody>
			</table>